footer{
    padding: 20px 0;
    background: $cinza;
    @include box-shadow(0 0 0 10px $cinza);
    a img {
        width: 50px;
        float: right;
        @include device(mobile){
            float: none;
            margin: 20px auto;
        }
    }

    p{
        color: $bege-claro;
        @include device(mobile){
            text-align: center;
        }
    }
}